@{
    ViewData["Title"] = "Home Page";
}
<style>
	body {
        background-color:aquamarine;
        background-image: url('~/img/istockphoto-155439315-612x612.jpg');
	    margin: 0;
    }
    .text-center {
        text-align: center;
        margin-top: 100px;
        font-family: 'Times New Roman', Times, serif;
    }

    h1 {
        font-size: 48px;
        color: #333;
        box-shadow: 5px 5px black;
    }
    

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            color: #007bff;
            text-decoration: underline;
        }

    p {
        font-size: 24px;
        color: #666;
        margin-top: 20px;
    }
</style>


<div class="text-center">
    <h1 class="display-4">Welcome, We offer you the ability to travel anywhere at any time at your fingertips</h1>
    <p>With our advanced flight booking system, you can easily search for and book flights to any destination in the world. Our system is fast, easy to use, and secure, so you can book your flights with confidence.</p>
    <p>We also offer a range of additional services, such as hotel bookings, car rentals, and travel insurance, so you can plan your entire trip in one convenient place.</p>
    <p>So why wait? Start planning your next adventure today!</p>
</div>
